*{ box-sizing: border-box;
}

body{
    margin:0;
}

.container{
    width: 900px;
    margin: auto;

}
header{
    height:65px;
    width: 100%;
    background-image: url(./img/pattern.png) ;
    background-repeat: repeat-x;
    background-color: #4ea0ff;
    background-position: center;
    margin: auto;
    text-decoration: none;
}

header img {
    height:40px;
    width: 120px;
    margin: 25px 0 0 10px;
}

header h1{
    margin: 10px 0 0 0;
}

header span{
    color:grey;
    margin: 0;
}